.App {
	height: 100vh;
	text-align: center;
}

.GUIAccountHeader {
	position: absolute;
	top: 2%;
	left: 2%;
	right: 2%;
	width: 96%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
  }

.GUIAccountHeader > * {
	transform: scale(0.85);
}

.GUIGameTokens {
	position: relative;
	display: flex;
	height: 27vh;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}

.GUIBoostingFooter {
	position: absolute;
	bottom: 2%;
	left: 2%;
	right: 2%;
	width: 33%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}